@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-toolbar-background, #3f51b5),
    container-text-color: var(--mat-toolbar-text, #ffffff),
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
  margin: 0 10px;
}

.course-actions{
  display: flex;
  justify-content: center;
}

.course-card{
  margin: 20px 20px;
  align-items: center;
  display: flex;
}

button.highligt-date {
  font-weight: bold;
  background-color: red;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}